{% extends 'base.html' %}

{% load i18n %}

{% block page-header %}
{% trans 'Entities' as page_header_primary_text %}
{% trans 'Add an entity' as page_header_primary_button_text %}
{% url 'entity-create' tree.uid as page_header_primary_button_url %}
{% include 'includes/page_header.html' with page_header_secondary_text=tree.name page_header_primary_button_icon='icon-list'%}
{% endblock page-header %}

{% block content %}
<div class="card">
  <div class="table-responsive">
    <table class="table text-nowrap">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Category' %}</th>
          <th>{% trans 'Address' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in page_obj %}
        {% include 'schema/entity/includes/entity_row.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'includes/pagination.html' %}
{% endblock content %}
