{% extends 'base.html' %}

{% load i18n %}

{% block page-header %}
{% trans 'Entities' as page_header_primary_text %}
{% trans 'Add an entity' as page_header_primary_button_text %}
{% url 'entity-create' tree.uid as page_header_primary_button_url %}
{% include 'includes/page_header.html' with page_header_secondary_text=tree.name  page_header_secondary_url=tree.object_read_url page_header_primary_button_url=tree.entity_create_url page_header_primary_button_icon='icon-list' %}
{% endblock page-header %}

{% block content %}
<div class="card">
  <div class="table-responsive">
    <table class="table text-nowrap" id="persons">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Category' %}</th>
          <th>{% trans 'Location' %}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#persons").DataTable({
      autoWidth: false,
      "lengthChange": false,
      "order": [
        [1, "asc"]
      ],
      pagingType: "simple",
      language: {
        info: "{% trans '_START_ - _END_ of _TOTAL_' %}",
        paginate: {
          'next': '{% trans "Next" %}' + ' &raquo;',
          'previous': '&laquo; ' + '{% trans "Prev" %}'
        },
        search: "",
        searchPlaceholder: "{% trans 'Search entity' %}"
      },
      "processing": true,
      "serverSide": true,
      "ajax": {
        url: "{% url 'api-entity-list' tree.uid %}"
      },
      columnDefs: [{
        "defaultContent": "",
        "targets": "_all"
      }],
      columns: [{
          data: "name",
        },
        {
          data: "category",
        },
        {
          data: "location",
        },
        {
          data: "buttons",
          render: function (data, type, row, meta) {
            return `
              <a href="/tree/{{ tree.uid }}/entity/${row.uid}/edit/" title={% trans 'Edit' %}>
                <button type="button" class="btn btn-sm">
                  <i class="icon-pencil"></i>
                </button>
              </a>`;
          }
        }
      ]
    })
  });
</script>
{% endblock content %}
