{% extends 'base.html' %}

{% load i18n %}

{% block page-header %}
{% trans 'Persons' as page_header_primary_text %}
{% trans 'Add a person' as page_header_primary_button_text %}
{% include 'includes/page_header.html' with page_header_secondary_text=tree.name page_header_primary_button_url=tree.person_create_url page_header_secondary_url=tree.object_read_url page_header_primary_button_icon='icon-user' %}
{% endblock page-header %}

{% block content %}
<div class="card">
  <div class="table-responsive">
    <table class="table text-nowrap" id="persons">
      <thead>
        <tr>
          <th>{% trans 'Full name' %}</th>
          <th>{% trans 'Year of birth' %}</th>
          <th>{% trans 'Birthplace' %}</th>
          <th>{% trans 'Residence' %}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#persons").DataTable({
      autoWidth: false,
      "lengthChange": false,
      "order": [
        [1, "asc"]
      ],
      pagingType: "simple",
      language: {
        info: "{% trans '_START_ - _END_ of _TOTAL_' %}",
        paginate: {
          'next': '{% trans "Next" %}' + ' &raquo;',
          'previous': '&laquo; ' + '{% trans "Prev" %}'
        },
        search: "",
        searchPlaceholder: "{% trans 'Search persons' %}"
      },
      "processing": true,
      "serverSide": true,
      "ajax": {
        url: "{% url 'api-person-list' tree.uid %}"
      },
      columnDefs: [{
        "defaultContent": "",
        "targets": "_all"
      }],
      columns: [{
          data: "name",
          render: function (data, type, row, meta) {
            return `
                <a href="#" class = "text-body font-weight-semibold">${data}</a>
                <div class = "text-muted font-size-sm">${row.summary}</div>`;
          }
        },
        {
          data: "birth_year",
        },
        {
          data: "birthplace",
        },
        {
          data: "residence",
        },
        {
          data: "buttons",
          render: function (data, type, row, meta) {
            return `
          <a href="${row.object_update_url}" title={% trans 'Edit' %}>
            <button type="button" class="btn btn-sm">
              <i class="icon-pencil"></i>
            </button>
          </a>
          <a href="${row.entry_list_url}" title={% trans 'Entries' %}>
            <button type="button" class="btn btn-sm">
              <i class="icon-list"></i>
            </button>
          </a>`;
          }
        }
      ]
    })
  });
</script>
{% endblock content %}
