{% extends 'base.html' %}

{% load i18n %}

{% block page-header %}
{% trans 'Persons' as page_header_primary_text %}
{% trans 'Add a person' as page_header_primary_button_text %}
{% include 'includes/page_header.html' with page_header_secondary_text=tree.name page_header_primary_button_url=tree.person_create_url page_header_secondary_url=tree.object_read_url page_header_primary_button_icon='icon-user' %}
{% endblock page-header %}

{% block content %}
<div class="card">
  <div class="table-responsive">
    <table class="table text-nowrap">
      <thead>
        <tr>
          <th>{% trans 'Full name' %}</th>
          <th>{% trans 'Birth date' %}</th>
          <th>{% trans 'Birthplace' %}</th>
          <th>{% trans 'Residence' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for person in page_obj %}
        {% include 'schema/person/includes/person_row.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% include 'includes/pagination.html' %}
{% endblock content %}
