<div class="page-header">
  <div class="page-header-content container header-elements-md-inline">
    <div class="d-flex">
      <div class="page-title">
        <h4 class="font-weight-semibold">{{ page_header_primary_text }}</h4>
        {% if page_header_secondary_text %}
        <div class="text-muted">{{ page_header_secondary_text }}</div>
        {% endif %}
      </div>
      <a href="#" class="header-elements-toggle text-body d-md-none"><i class="icon-more"></i></a>
    </div>
  </div>
</div>
