{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ form.instance }}{% endblock %}

{% block page-header %}
{% trans 'Edit entry' as page_header_primary_text %}
{% include 'includes/page_header.html' with page_header_secondary_text=tree.name  %}
{% endblock page-header %}

{% block content %}
{% trans 'Save' as button_submit_text %}
{% trans 'Delete' as button_delete_title %}
{% url 'location-delete' form.instance.tree_uid form.instance.uid as button_delete_url %}
{% include 'includes/forms/edit.html' %}
{% endblock content %}
