{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block page-header %}
{% trans 'Create a tree' as page_header_primary_button_text %}
{% trans 'Dashboard' as page_header_primary_text %}
{% url 'tree-create' as page_header_primary_button_url %}

{% include 'includes/page_header.html' with page_header_primary_button_icon='icon-tree6' %}
{% endblock page-header %}

{% block content %}
{% for tree in object_list %}
{% include 'tree/includes/card.html' %}
{% endfor %}
{% endblock content %}
