{% extends 'includes/page_header.html' %}

{% load i18n %}

{% block buttons %}
<div class="btn-group position-static">

  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="icon-pencil mr-2"></i>
    {% trans 'Manage tree' %}
  </button>
  <div class="dropdown-menu dropdown-menu-right" style="">
    <a href="{% url 'person-list' tree.uid %}" class="dropdown-item">
      <i class="icon-user"></i>{% trans 'Persons' %}</a>
    <a href="{% url 'entity-list' tree.uid %}" class="dropdown-item"><i class="icon-list"></i>{% trans 'Entities' %}</a>
    <a href="{% url 'location-list' tree.uid %}" class="dropdown-item"><i
        class="icon-pin"></i>{% trans 'Locations' %}</a>
    <div class="dropdown-divider"></div>
    <a href="{% url 'tree-update' tree.uid %}" class="dropdown-item"><i class="icon-gear"></i>{% trans 'Settings' %}</a>
  </div>
</div>
{% endblock buttons %}
